@page
@model IndexModel

@Model.Message

Hello, choose below how you prefer to let your message:

<ul>
    <li><a href="ByRequestForm">Parameter binding by Request.Form</a></li>
    <li><a href="ByMethodParams">Parameter binding by Method Parameters</a></li>
    <li><a href="ByPublicProps">Parameter binding by Public Properties</a></li>
</ul>